dist
dist-*
cabal-dev
*.o
*.exe
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
tiny/
.vs/
Debug/
Release/
obj/
Obj/
x64/
x86/
[Bb]uild/
build/
Build/
*.idx
*.aux
*.toc
*.log
*.out
*.dvi
*.synctex*
mpi/mpi_example.cpp
